@model Models.Models.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "باز یابی رمز عبور ";
}

<div class="col-md-4 col-10 box-shadow-2 p-0">
    <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
        <div class="card-header border-0 pb-0">
            <div class="card-title text-center">
                <img src="/app-assets/images/logo/stack-logo-dark.png" alt="branding logo">
            </div>
            <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                <span>جهت ارسال ایمیل بازیابی رمز عبور لطفا ایمیل خود را وارد نمایید</span>
            </h6>
        </div>
        <div class="card-content">
            <div class="card-body">
               
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {@class = "form-horizontal"}))
                {
                    @Html.AntiForgeryToken()


                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                    <fieldset class="form-group position-relative has-icon-left">
                        @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control form-control-lg", placeholder = "آدرس ایمیل"}})
                        @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})


                        <div class="form-control-position">
                            <i class="ft-mail"></i>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-outline-primary btn-lg btn-block"><i class="ft-unlock"></i> بازیابی رمز عبور</button>

                }
            </div>
        </div>
        <div class="card-footer border-0">
            <p class="float-sm-left text-center"><a href="/Login" class="card-link">ورود به سایت</a></p>
            <p class="float-sm-right text-center"> <a href="/Register" class="card-link">ثبت نام در سایت</a></p>
        </div>
    </div>
</div>

