@model Models.Users
@{
    ViewBag.Title = "SuccessRegister";
}

<div class="alert alert-success">
    <h2>@Model.UserName عزیز ، با تشکر از ثبت نام شما  .</h2>
    <p>جهت فعال سازی حساب کاربری خود با مدیر سایت تماس حاسل بفرمایید . </p>
</div>

